.todo_completed_bar {
    display: grid;
    grid-template-columns: 30px auto max-content;
    text-decoration: line-through #aeee99;
    background-color: #102a43;
    padding: 5px;
}
.todo_incompleted_bar {
    display: grid;
    grid-template-columns: 30px auto max-content;
    background-color: #102a43;
    padding: 5px;
}
.todo_urgent {
    grid-column-start: 1;
}
.todo_item {
    text-align: left;
    grid-column-start: 2;
}
.todo_completed {
    grid-template-columns: max-content;
    grid-column-start: 3;
    justify-self: right;
}
